<p style="color: green"><%= notice %></p>



<!-- <div id="amigos">
  <% @amigos.each do |amigo| %>
    <%= render amigo %>
    <p>
      <%= link_to "Show this amigo", amigo %>
    </p>
  <% end %>
</div>

<%= link_to "New amigo", new_amigo_path %> -->

<% if user_signed_in? %>
<h1>Lista de Amigos</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>correo</th>
        <th>telefono</th>
        <th>twitter</th>
        <th>amigo de:</th>
      </tr>
    </thead>

    <tbody>

    
      <% @amigos.each do |amigo| %>
      <% if current_user.id == amigo.user_id %>
      <tr>
      <td><%= link_to amigo.primer_nombre + " " + amigo.apellido, amigo %></td>
      <td><%= amigo.correo %></td>
      <td><%= amigo.telefono %></td>
      <td><%= amigo.twitter %></td>
      <td><%= amigo.user_id %></td>
      
      <td><%= link_to 'Eliminar', amigo, method: :delete %></td>
      <td><%= button_to 'Eliminar', amigo, class: "btn btn-outline-danger", method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>

    </table>
<% else %>
    <h1>Hola mudno</h1>
  this is my firts rails web page

<% end %>
